@font-face {
    font-family: "Gotham-Medium";
    src: url("/fonts/Gotham-Medium-webfont.eot");
    src: url("/fonts/Gotham-Medium-webfont.woff2") format("woff2");
    src: url("/fonts/Gotham-Medium-webfont.woff") format("woff");
    src: url("/fonts/Gotham-Medium-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "Gotham-Bold";
    src: url("/fonts/Gotham-Bold-webfont.eot");
    src: url("/fonts/Gotham-Bold-webfont.woff2") format("woff2");
    src: url("/fonts/Gotham-Bold-webfont.woff") format("woff");
    src: url("/fonts/Gotham-Bold-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url("/fonts/OpenSans-Bold-webfont.eot");
    src: url("/fonts/OpenSans-Bold-webfont.woff2") format("woff2");
    src: url("/fonts/OpenSans-Bold-webfont.woff") format("woff");
    src: url("/fonts/OpenSans-Bold-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "Arial-Black";
    src: url("/fonts/Arial-Black-webfont.eot");
    src: url("/fonts/Arial-Black-webfont.woff2") format("woff2");
    src: url("/fonts/Arial-Black-webfont.woff") format("woff");
    src: url("/fonts/Arial-Black-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "Arial-BoldMT";
    src: url("/fonts/Arial-BoldMT-webfont.eot");
    src: url("/fonts/Arial-BoldMT-webfont.woff2") format("woff2");
    src: url("/fonts/Arial-BoldMT-webfont.woff") format("woff");
    src: url("/fonts/Arial-BoldMT-webfont.ttf") format("truetype");
}
